@{
    ViewData["Title"] = "Weather Information";
}

<h2>Weather Information</h2>
<p>@ViewData["result"]</p>
<p>Latitude: @ViewData["latitude"]</p>
<p>Longitude: @ViewData["longitude"]</p>
<p>Country: @ViewData["country"]</p>
<!--<p>Temperature: @ViewData["temperature"]</p> -->
<!--<p>Weather: @ViewData["weatherDescription"]</p> -->
